.gradient-background {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #5f579b, #4915d0);
}

.title-label {
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.light-title-label {
    -fx-font-size: 32px;
    -fx-text-fill: #f0f0f0;  /* Closer to white for better contrast */
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.input-field {
    -fx-pref-width: 250px;
    -fx-padding: 8px;
    -fx-font-size: 16px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ddd;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.auth-button {
    -fx-background-color: #6c63ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 6px 12px;
    -fx-background-radius: 8px;
}

.auth-button:hover {
    -fx-background-color: #5750cc;
}

.message-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.message-label.success {
    -fx-text-fill: #4caf50;
}

.message-label.error {
    -fx-text-fill: #f44336;
}

.code-box {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #1d0e4d;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ddd;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}

.error-prompt {
    -fx-border-color: #a20b0b;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
}

.error-message {
    -fx-text-fill: #f30d0d;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px;
}

.success-prompt {
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
}

.success-message {
    -fx-text-fill: green;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px;
}
